.blog-page {
    position: relative;

    .feature-post {
        p {
            margin-top: 16px;
            margin-bottom: 40px;
        }
    }

    .img-mobile {
        display: flex;
        justify-content: end;
        margin-right: -15px;
    }

    .avatar {
        max-width: 32px;
        min-width: 32px;
        max-height: 32px;
        min-height: 32px;
        object-fit: cover;
        border-radius: 50px;
        margin-right: 10px;
    }

    .autor-info {
        span {

            &.name,
            &.reading-time {
                font-size: 14px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.71;
                letter-spacing: normal;
                text-align: left;
                color: #333;
            }
        }
    }

    .block-image {
        position: relative;
        top: -50px;
        padding-bottom: 50px;
    }

    .texture-1 {
        position: absolute;
        top: 230px;
        left: 0;
        z-index: -1;

        @media (max-width: 600px) {
            display: none;
        }
    }

    .texture-2 {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: -1;

        @media (max-width: 600px) {
            display: none;
        }
    }

    .search-bar {
        position: relative;

        input {
            width: 100%;
            height: 50px;
            padding: 15px 24px;
            border-radius: 100px;
            border: solid 1px #ddd;
            background-color: #fff;
        }

        button {
            position: absolute;
            right: 10px;
            top: calc(50px / 2 - 16px);
        }
    }

    .blog-list {
        article {
            margin-bottom: 60px;

            p {
                margin-bottom: 32px;
            }

            .separator {
                width: 99px;
                height: 1px;
                margin: 22px 60px 0 0;
                background-color: #eaeaea;
            }
        }

        h3 {
            font-size: 32px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.25;
            letter-spacing: normal;
            color: #62b6d8;
        }
    }
}

.seminar-cards,
.categories {
    /* Sticky */
    position: sticky;
    top: 120px;
}

.categories {
    h4 {
        font-size: 20px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.2;
        letter-spacing: normal;
        text-align: left;
        color: #62b6d8;
    }

    ul {
        list-style: none;

        li {
            position: relative;
            font-size: 16px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 2.75;
            letter-spacing: normal;
            text-align: left;
            color: #333;

            &.current {
                font-weight: bold;

                &::before {
                    position: absolute;
                    content: '';
                    left: -20px;
                    top: calc(50% - 4px);
                    width: 8px;
                    height: 8px;
                    border-radius: 50px;
                    background-color: #62b6d8;
                }
            }
        }
    }
}

.seminar-cards {
    h4 {
        font-size: 18px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.28;
        letter-spacing: normal;
        text-align: left;
        color: #333;
    }

    p {
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: left;
        color: #333;
    }

    .card-footer {
        display: flex;
        justify-content: space-between;

        @media (max-width: 600px) {
            justify-content: end;
        }
    }
}